<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About us!</h2>
                <hr class="light">
                <p class="text-faded">CARTOPIXELS embrace the fusion of geospatial data for better decision making and management and to facilitate the sharing and integration of the geospatial data. We are here to deliver the full benefits of geospatial solutions to you!</p>
                <p class="text-faded">
                  We are focus around open source geospatial technology (FOSSG).
                </p>
            </div>
        </div>
    </div>
</section>
