<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>GIS</h3>
                    <p class="text-muted">Analysis, Geodatabase, and Mapping for forestry, agriculture, environment, marine</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-satellite wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Remote Sensing</h3>
                    <p class="text-muted">Remote sensing analysis and mapping for forestry, agriculture, environment, marine</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Aerial Photogrammetry</h3>
                    <p class="text-muted">Orthophoto, DSM, DTM, 3D models</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-compass wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Cartography & Vizualization</h3>
                    <p class="text-muted">Customize map for events, books, games, etc. </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Digital Map</h3>
                    <p class="text-muted">Go digital! Create map tiles, web mapping, data conversions</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Training</h3>
                    <p class="text-muted">FOSSG training such as QGIS, GRASS, GDAL, PostGIS, SAGA, Google Earth Engine</p>
                </div>
            </div>
        </div>
    </div>
</section>
